.contact-us-page {
    margin-top: 92px;
}

.contact-us-page h1 {
    font-size: 1.3125rem;
}

.contact-us-form-container {
    /* height: 100vh; */
    margin: 45px auto 45px auto;
    display:flex;
    flex-direction: column;
}

.contact-us-form-container .form {
   display:flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 100%;
    margin: auto;
    background: none;
    padding-bottom: 0;
    padding: 20px;
}

.contact-us-form-container h2 {
    margin-bottom: 35px;
}

.contact-button {
    border: 3px solid #000;
    background-color: rgb(4, 95, 4);
    color: #fff;
}

.contact-us-form .required {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-us-form .input {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-us-form-container input, .contact-us-form textarea {
    color: #000;
    border: 3px solid #000;
    margin-bottom: 35px;
    width: 500px;
}

.contact-us-form input::placeholder, .contact-us-form textarea {
    color: #000;
    font-size: 1rem;
    letter-spacing: .03rem;
  }

.contact-us-form-container textarea {
    resize: vertical;
    outline: none;
    color: #000;
    background: none;
    border-radius: 10px;
    padding: 15px;
}

.contact-us-form label {
    color: transparent;
}

.contact-us-form textarea:focus {
    border: 3px solid #1493f3;
  }

.contact-hero {
    width: 100%;
    border-radius: 0;
    padding-top: calc(1625 / 6414 * 100%);
    position: relative;
}

.contact-hero figcaption {
    padding-left: 5px;
    font-size: .875rem;
}

.contact-us-page img {
    display: block;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}