.slider {
    width: 300px;
    height: 300px;
    display: flex;
    overflow-x: auto;
    margin: 0 auto;
    border: 2px solid #000;
    scroll-snap-type: x mandatory;
  }
  .slide {
    width: 300px;
    flex-shrink: 0;
    height: 100%;
    border: 1px solid #000;
  }

  .slides > div {
    scroll-snap-align: start;
  }