.blog-details {
    width: 90%;
    margin: 152px auto 41px auto;
    line-height: 1.6;
    font-size: 1.125rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    letter-spacing: .01em;
}

.safety {
    flex: 1;
    position: relative;
}

.button-parent {
    position: absolute;
    bottom: -79px;
    display: flex;
    width: 100%;
}

.button-parent button:first-child {
    margin-right: auto;
}

.button-parent button {
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
    letter-spacing: .03em;
    transition: 0.3s;
}

.button-parent button:hover, .button-parent button:focus {
    background-color: #1493f3;
    color: #fff;
    border: 2px solid #1493f3;
}

.date span.content {
    font-size: .75rem;
}

.blog-details .post-title {
    letter-spacing: .05em;
    font-size: 1.875rem;
    line-height: 1.11;
}

.blog-details figure {
    margin-bottom: 25px;
}

.blog-details figcaption {
    font-size: 1rem;
}

.blog-details .casco-petty-crime {
    margin-bottom: 0;
}

.blog-details img {
    max-width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.blog-details p {
   margin-bottom: 20px;
}

.blog-details .line-divider {
    margin-top: 0;
    margin-bottom: 45px;
}

.blog-details + footer .line-divider {
    margin-top: 84px;
}

p.intro {
    padding: 25px 0;
    border-top: 1px solid #a1a1a1;
    border-bottom: 1px solid #a1a1a1;
    margin: 45px auto;
    font-weight: 600;
    line-height: 1.4;
    font-size: 1.5rem;
    width: 100%;
    letter-spacing: .025em;
}

p.this-article {
    margin-bottom: 45px;
}

.diamond-text-box.date {
    margin-bottom: 0;
}

.blog-details h2, .blog-details h3 {
    font-size: 1.375rem;
    line-height: 1.1;
}

.blog-details h3 {
    font-size: 1.25rem;
}

.blog-details section h2, .blog-details section h3 {
    margin-bottom: 15px;
}

.blog-details ul li {
    margin-left: 45px;
    margin-bottom: 20px;
}

/* saftey page images */

.cops-at-fruitstand {
    padding-top: calc(4032 / 3024 * 100%);
}

.bank-police {
    padding-top: calc(2265 / 3024 * 100%);
}

.casco-tourist, .casco-police {
    padding-top: calc(2752 / 4896 * 100%);
}

.near-casco {
    padding-top: calc(720 / 1280 * 100%);
}

.casco-petty-crime {
    padding-top: calc(2752 / 4896 * 100%);
}

.colon-plate {
    padding-top: calc(2752 / 4896 * 100%);
}

/* Tablet menu */
@media all and (min-width: 700px) {
}

/* Desktop menu */
@media all and (min-width: 960px) {
    .blog-details {
        width: 46%;
        margin-bottom: 61px;
   }

    .blog-details .post-title {
        font-size: 2.813rem;
   }
   
    p.intro {
        width: 80%;
   }
}

@media all and (min-width: 1500px) {
    .blog-details .line-divider.wide:before {
        width: 50%;
        left: 25%;
   }
}

@media all and (max-width: 405px) {
    .button-parent {
        flex-direction: column;
        bottom: -133px;
   }

    .button-parent button {
        margin: 0 auto 10px auto;
        width: 180px;
   }

    .button-parent button:last-child {
        margin-bottom: 0;
   }

    .blog-details + footer .line-divider {
        margin-top: 138px;
   }
}
