.contact-us-form-container {
    height: 100vh;
    margin: 144px auto 0 auto;
    display:flex;
    flex-direction: column;
}

.contact-us-form-container .form {
   display:flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 500px;
    margin: auto;
}

.contact-us-form-container textarea {
    resize: vertical;
    border: 3px solid #fff;
    font-size: 1rem;
    outline: none;
    color: #fff;
    background: none;
}