
.facts {
    margin: 0 auto 45px auto;
    width: 50%;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fact-parent {
    height: 100px;
    margin-bottom: 10px;
    width: 50%;
  }

.fact-button {
    width: 50%;
    margin: auto;
    padding: 15px;
    width: 225px;
    font-size: 1rem;
    border-radius: 10px;
    display: block;
    background-color: rgb(9, 97, 9);
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin-bottom: 45px;
}