
.facts {
    margin: 0 auto 45px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px; 
    width: 80%;
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */

}

.background-4 {
    background: rgb(105,155,200);
    background: -moz-radial-gradient(top left, ellipse cover, rgba(105,155,200,1) 0%, rgba(181,197,216,1) 57%);
     background: -webkit-gradient(radial, top left, 0px, top left, 100%, color-stop(0%,rgba(105,155,200,1)), color-stop(57%,rgba(181,197,216,1)));
     background: -webkit-radial-gradient(top left, ellipse cover, rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
     background: -o-radial-gradient(top left, ellipse cover, rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
     background: -ms-radial-gradient(top left, ellipse cover, rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
     background: radial-gradient(ellipse at top left, rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#699bc8', endColorstr='#b5c5d8',GradientType=1 );
    }

.fact-parent {
    border-radius: 10px;
    height: 250px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3125rem;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
    font-weight: 500;

  }

.fact-button {
    margin: auto;
    padding: 15px;
    width: 225px;
    font-size: 1rem;
    border-radius: 10px;
    display: block;
    background-color: rgb(9, 97, 9);
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin-bottom: 45px;
    border: none;
    cursor: pointer;
}