.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-evenly;
    background-color: #fff;
  }
  
  .footer hr {
    color: #a1a1a1;
    width: 80%;
    align-self: center;
    margin-bottom: 45px;
  }
  
  .icons {
    padding: 35px 0 35px 0;
  }
  
  .icons a {
    text-decoration: none;
    font-size: 2rem;
    margin: 0.5rem;
    color: #000;
  }

  .form {
    padding: 0 0 32px 0;
    display: flex;
    justify-content: center;
    background-color: #000;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .optin-button, .form input {
    padding: 15px;
    width: 225px;
    font-size: 1rem;
    border-radius: 10px;

  }

  .form input {
    margin-bottom: 10px;
    background: none;
  border: none;
  border: 2px solid #fff;
  font-size: 1rem;
  outline: none;
  color: #fff;
  }

  .form input::placeholder {
    color: #fff;
    font-size: 1rem;
    letter-spacing: .03rem;
  }

  .form input:focus {
    border: 2px solid #1493f3;
  }


.optin-button {
    background-color: #a91319;
    border: 2px solid #a91319;
    color: #fff;
    border: none;
    cursor: default;
  }

  .optin-button:focus {
    outline: 2px solid #1493f3;
  }

  .cta {
    background: #000;
    color: #fff;
    padding: 32px 0 25px 0;
  }
  
  .cta h3 {
    letter-spacing: .03rem;
    font-size: 1.2rem;
    font-weight: 500;
  }

  .alert-comment {
    color: red;
    position: absolute;
    top: 115px;
    font-size: .825rem;
    outline: 1px solid red;
    padding: 3px;
  }

  #send-form {
    opacity: .4;
    cursor: default;
}

#send-form.activated {
    opacity: 1;
    cursor: pointer;
}


/* Desktop menu */
@media all and (min-width: 960px) {
   .form {
    flex-direction: row;
    position: relative;
   }

   .form input {
    margin-right: 10px;
    margin-bottom: 0;
   }

   .alert-comment {
    top: 58px;
   }

}